<h1>Doll Fotos (<%= @dollfotos.length %>)</h1>
<%= link_to "New Doll Photo", "/dollfotos/new" %>

<% @dollfotos.each do |dollfoto| %>
  <p><%= dollfoto.title %>, <%= dollfoto.artist %></p>
  <img src="<%= dollfoto.url %>"/>
<% end %>
