<%= link_to "Back to Doll Photos", dollfotos_url %> | <%= link_to "Edit", edit_dollfoto_path(@dollfoto) %> | <%= link_to "Delete", delete_dollfoto_path(@dollfoto), method: :delete, data: {confirm: "Are you sure you want to delete this picture?"} %>


<p><%= @dollfoto.title %>, <%= @dollfoto.artist %></p>
<img src="<%= @dollfoto.url %>">
